<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head lang="en">
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>    
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="container-fluid">
            <div class="text-center">
                <h2>Welcome, <span sec:authentication="name">User</span>!</h2>
                <span>Course Registration</span>
            </div>
        </div>
    </body>
</html>